* {
    all: unset;
    font-family: "mononoki";
    font-weight: bold;
}

.bar {
    background-color: #282828;
    color: #ebdbb2;
    padding: 5px;
}

.module {
    padding: 2.5px 6px;
    font-size: 24px;
}

.accent {
    color: #d79921;
}

.active {
    color: #d79921;
    text-decoration: underline;
}