* {
    all: unset;
    font-family: "mononoki";
    font-weight: bold;
}

.bar {
    background-color: #121212;
    color: #dedede;
    padding: 5px;
}

.module {
    padding: 2.5px 6px;
    font-size: 24px;
}

.accent {
    color: #ffba7b;
}

.active {
    color: #ffba7b;
    text-decoration: underline;
}
