* {
    all: unset;
    font-family: "FiraCode Semibold";
}

.bar {
    background-color: #282828;
    color: #ebdbb2;
    padding: 8px;
}

.module {
    padding: 5px 10px;
    font-size: 20px;
}

.workspace-button {
    font-size: 22px;
    padding: 0 5px;
}

.empty {
    color: #756e5a;
}
.open {
    color: #c7b996;
}
.focus {
    color: #ebdbb2;
}
